html, body			{ margin: 0; 
				  background-color: #333;
				  height: 100%; }
body				{ font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
				  font-size: 11pt; }
section				{ display: flex; 
			 	  flex-direction: column;
				  height: 100%; }
header				{ display: flex;
				  width: 60%;	
				  padding-top: 2%;
				  margin-left: auto;
				  margin-right: auto;
			  	  flex-direction: row;
				  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; }
header nav			{ flex: 1; 
				  font-size: 14pt;
				  align-self: flex-end;
				  text-align: right; }
header nav a			{ color: #aee; }
header nav a + a		{ border-left: thin solid #89a; 
				  margin-left: 0.5ex;
				  padding-left: 1ex; }
header nav a:hover		{ color: #eff; }
#logo img			{ width: 90px; 
			 	  opacity: 0.7; }
#main				{ flex: 1; 
				  padding-top: 30%;
				  width: 50%;
				  color: #cde; 
				  margin-left: auto;
				  margin-right: auto; }
#main p				{ font-size: 15pt; 
				  line-height: 140%;
				  color: #9cc;}
#main p a			{ color: #aaf; 
				  text-shadow: 1px 0 #455; }
#main p a:hover			{ color: #ccf; 
				  text-shadow: 1px 0 #223; }
h2				{ font-size: 28pt; 
				  margin: 0;
				  text-shadow: 1px 0 #023;
			  	  font-weight: normal; }
h1				{ color: #def; 
				  font-size: 20pt;
				  text-shadow: 1px 0 #023;
				  font-weight: normal;
				  margin: 0;  }
h3				{ margin: 0;
				  font-weight: normal;
				  font-size: 18pt; }
a				{ text-decoration: none; }
nav				{ color: #abc; }
footer				{ width: 60%;
				  margin-left: auto;
				  margin-right: auto;
				  padding-bottom: 1em;
				  font-size: 11pt;
				  line-height: 130%;
				  color: #678; }
footer a			{ color: #89a; }
footer a:hover			{ color: #cdf; }
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
header				{ width: 95%; }
#main				{ padding-top: 5%; }
#main, #contact			{ width: 95%; }
#logo				{ text-align: center; }
h1				{ font-size: 16pt; }
h2				{ font-size: 18pt;
			 	  text-align: center; }
article p			{ font-size: 12pt; }
}
