html, body					{ margin: 0; 
						  color: #555; }
body						{ font-family: 'Alegreya Sans', sans-serif;
						  font-style: normal;
						  background-color: #fff;
						  line-height: 1.3em;
						  font-weight: 400;
						  font-size: 14pt; }
a						{ text-decoration: none; 
						  color: #0575BD; }
.tldr						{ color: #000; 
						  font-size: 15pt; }
#tldr:before					{ content: 'tl;dr';
						  color: #000;
						  border-bottom: 3px solid #f0f0f6;
						  padding-bottom: 0.25rem;
						  margin-bottom: 0.25rem;
						  font-size: 90%;
						  line-height: 1.3em;
						  font-weight: 500;
						  font-variant: small-caps;
						  display: block; }
#tldr						{ margin-bottom: 2em;
						  color: #000; }
body > section > article,
body > section > header				{ width: calc(100% - 1rem);
					 	  max-width: 66rem;
						  margin: 0 auto; }
body > section > header				{ padding-top: 1em;
						  padding-bottom: 1em;
						  color: #222;
						  display: flex;
						  display: -webkit-flex;
						  align-items: center;
						  -webkit-align-items: center; }
body > section > header nav a			{ color: #000; 
						  font-size: 14pt; }
body > section > header nav a span		{ border-bottom: thin transparent; }
body > section > header nav a:hover		{ color: #000;  }
body > section > header nav a:hover span	{ border-bottom: thin solid #0575BD; }
body > section > header nav a + a		{ border-left: thin solid #888; 
						  padding-left: 4pt; 
						  margin-left: 4pt; }
body > section > header img			{ height: 24pt; }
h1 a						{ color: inherit; 
						  text-shadow: 1px 1px 1px transparent; }
h1 a:hover					{ text-shadow: 0px 1px 1px #aaa; }
h1						{ font-size: 24pt;
						  font-weight: 300;
						  flex: 1;
						  margin: 0;
						  -webkit-flex: 1;
						  margin: 0 8pt;  }
footer						{ text-align: center;
						  padding-top: 1em;
						  padding-bottom: 1em;
						  font-size: 11pt;
						  color: #678; }
footer a					{ color: #89a; }
footer a:hover					{ color: #456; }
figure						{ margin: 1em 0;
						  padding: 0;
						  text-align: center; }
figure img					{ width: 100%; 
						  max-width: 650px; }
figure.pair					{ display: flex; }
figure.pair > img				{ flex: 1; }
figcaption					{ font-size: 12pt; 
						  color: #666; }
pre.hl, pre, code				{ font-family: monospace;
					 	  line-height: 1.2em;
						  font-size: 10pt; }
h2						{ font-variant: small-caps;
						  text-align: center;
						  font-size: 120%;
						  margin-top: 2em;
						  color: #000;
						  font-weight: 500; }
strong						{ font-weight: 500;
						  color: #000; }
.nm						{ font-weight: 500;
						  color: #000; }
