html, body					{ margin: 0; 
						  color: #444; }
body						{ font-family: 'Alegreya Sans', sans-serif;
						  font-style: normal;
						  background-color: #fff;
						  font-weight: 400;
						  font-size: 14pt; }
a						{ text-decoration: none; 
						  color: #0575BD; }
.tldr						{ color: #000; 
						  font-size: 15pt; }
body > section > header				{ width: 50%;	
						  padding-top: 1em;
						  padding-bottom: 1em;
						  color: #222;
						  margin: 0 auto;
						  display: flex;
						  display: -webkit-flex;
						  align-items: center;
						  -webkit-align-items: center; }
body > section > header nav a			{ color: #000; 
						  font-size: 14pt; }
body > section > header nav a span		{ border-bottom: thin transparent; }
body > section > header nav a:hover		{ color: #000;  }
body > section > header nav a:hover span	{ border-bottom: thin solid #0575BD; }
body > section > header nav a + a		{ border-left: thin solid #888; 
						  padding-left: 4pt; 
						  margin-left: 4pt; }
body > section > header img			{ height: 24pt; }
body > section > article			{ width: 50%;
						  margin: 0 auto; }
h1 a						{ color: inherit; 
						  text-shadow: 1px 1px 1px transparent; }
h1 a:hover					{ text-shadow: 0px 1px 1px #aaa; }
h1						{ font-size: 24pt;
						  font-weight: 300;
						  flex: 1;
						  margin: 0;
						  -webkit-flex: 1;
						  margin: 0 8pt;  }
footer						{ text-align: center;
						  padding-top: 1em;
						  padding-bottom: 1em;
						  font-size: 11pt;
						  line-height: 130%;
						  color: #678; }
footer a					{ color: #89a; }
footer a:hover					{ color: #456; }
figure						{ margin: 1em 0;
						  padding: 0;
						  text-align: center; }
figure img					{ width: 100%; 
						  max-width: 650px; }
figcaption					{ font-size: 12pt; 
						  color: #666; }
pre, code					{ font-family: monospace;
						  font-size: 11pt; }

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
body > section > header				{ width: 98%; }
body > section > article			{ width: 98%; }
h2						{ font-size: 48pt; 
					  	  text-align: center; }
}
