html, body					{ margin: 0; 
						  height: 100%; }
body						{ font-family: 'Alegreya Sans', sans-serif;
						  color: #444;
						  background-color: #fff;
						  font-weight: 400;
						  font-size: 14pt; }
a						{ text-decoration: none; 
						  color: #0575BD; }
body > section > nav a				{ color: rgba(5, 117, 189, 0.5); }
body > section > nav a:hover			{ color: rgba(5, 117, 189, 0.9); }
article > header,
article > section,
body > section > nav,
body > section > header				{ width: 66rem;
					 	  max-width: 96%;
						  margin: 0 auto; }
body > section > nav				{ padding-top: 1em; 
						  color: rgba(0, 0, 0, 0.7);
						  padding-bottom: 2em; }
body > section > header				{ padding-top: 1.5em;
						  padding-bottom: 1.5em;
						  color: #222;
						  display: flex;
						  display: -webkit-flex;
						  align-items: flex-end;
						  -webkit-align-items: flex-end; }
body > section > header nav a			{ color: #000; }
body > section > header nav a span		{ border-bottom: thin transparent; }
body > section > header nav a:hover		{ color: #000;  }
body > section > header nav a:hover span	{ border-bottom: thin solid #0575BD; }
body > section > header nav a + a		{ border-left: thin solid #888; 
						  padding-left: 4pt; 
						  margin-left: 4pt; }
body > section > header img			{ height: 22pt; 
						  margin-bottom: 1pt; }
body > section > header h1 a			{ color: inherit; 
						  text-shadow: 1px 1px 1px transparent; }
body > section > header h1 a:hover		{ text-shadow: 0px 1px 1px #aaa; }
body > section > header h1			{ font-size: 24pt;
						  font-weight: 500;
						  flex: 1;
						  line-height: 22pt;
						  margin: 0;
						  -webkit-flex: 1;
						  margin: 0 8pt;  }
h3						{ font-weight: 500; 
						  font-variant: small-caps;
						  margin: 2em auto;
						  text-align: center;
						  font-size: 130%; }
footer						{ text-align: center;
						  padding-top: 1em;
						  padding-bottom: 1em;
						  font-size: smaller;
						  color: #678; }
article a					{ border-bottom: thin solid #0575BD; }
article > header .intro				{ font-size: larger; }
h2						{ font-weight: 500;
						  text-align: center;
						  width: auto;
						  text-shadow: 0px 0px 1px #000; 
						  font-size: 64pt; }
a						{ text-decoration: none; }
figure						{ margin: 1em 0;
						  padding: 0;
						  text-align: center; }
figure img					{ width: 60%; }
figure img.narrow				{ max-width: 350px; }
figcaption					{ font-size: 12pt; 
						  color: #666; }
blockquote					{ margin-bottom: 0; }
code						{ font-family: monospace;
						  font-size: 80%; }
code, pre					{ overflow: hidden; 
						  font-size: 11pt; }
pre.prettyprint					{ border: 0; }

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
figure img					{ width: 100%; }
h2						{ font-size: 36pt; 
					  	  text-align: center; }
body > section > header h1			{ margin: 0 4pt; }
body > section > nav				{ width: 90%; }
body > section > nav				{ text-align: center; }
}
