html, body					{ margin: 0; 
						  height: 100%; }
body						{ font-family: 'Alegreya Sans', sans-serif;
						  background-color: #222;
						  font-style: normal;
						  font-weight: 400;
						  font-size: 14pt; }
a						{ text-decoration: none; }
input[type=radio]				{ display: none; }
article > section,
body > section > header				{ width: 66rem;
						  max-width: 96%;
						  margin-left: auto;
						  margin-right: auto; }
body > section > header				{ padding-top: 1em;
						  padding-bottom: 1em;
						  color: #fff;
						  text-shadow: 1px 0 #234;
						  display: flex;
						  display: -webkit-flex;
						  align-items: flex-end;
						  -webkit-align-items: flex-end; }
body > section > header nav 			{ font-size: 80%; }
body > section > header nav a			{ color: #ddd; }
body > section > header nav a span		{ border-bottom: thin transparent; }
body > section > header nav a:hover		{ color: #fff;  }
body > section > header nav a:hover span	{ border-bottom: thin solid yellow; }
body > section > header nav a + a		{ border-left: thin solid #888; 
						  padding-left: 4pt; 
						  margin-left: 4pt; }
img						{ width: 100%;
						  max-width: 40rem; }
body > section > header img			{ width: 24pt; }
article						{ color: #fff; }
article > header				{ text-align: center; 
						  margin: 48pt 0; }
article > header img				{ width: 60px; }
article > section .emph				{ font-size: 150%; }
article a					{ color: yellow; }
h1 a						{ color: inherit; }
h1						{ font-size: 200%;
						  font-weight: 500;
						  line-height: 70%;
						  flex: 1;
						  -webkit-flex: 1;
						  margin: 0 8pt;  }
h2						{ margin: 0;
						  font-weight: 400;
						  display: inline-block;
						  text-align: left;
						  width: auto;
						  text-shadow: 1px 1px 1px #000; }
h2 span:first-child				{ font-size: 250%; 
						  margin-bottom: -20pt; }
h2 span:last-child				{ font-size: 500%; }
h2 span						{ display: block; }
h3						{ font-weight: 400; 
						  font-size: 125%; }
a						{ text-decoration: none; }
nav						{ color: #abc; }
.disclaimer					{ font-size: 80%; }
footer						{ text-align: center;
						  padding-top: 1em;
						  padding-bottom: 1em;
						  font-size: 80%;
						  line-height: 130%;
						  color: #678; }
footer a					{ color: #89a; }
footer a:hover					{ color: #cdf; }
figure						{ margin: 1em 0;
						  padding: 0;
						  text-align: center; }
figcaption					{ font-size: 80%; 
						  color: #ccc; }
blockquote					{ margin-bottom: 0; }
.citation					{ margin-left: 2.2em; 
						  margin-top: 0.5em;
						  font-style: italic; }
code						{ font-family: monospace;
						  font-size: 65%; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  h2 span:first-child				{ font-size: 20pt; 
  						  margin-bottom: -10pt; }
  h2 span:last-child				{ font-size: 50pt; }
  article > header				{ padding: 0 2%; }
}
