html, body					{ margin: 0; 
						  background-color: #fff;
						  color: #444;
						  height: 100%; }
body						{ font-family: 'Alegreya Sans', sans-serif;
						  font-weight: 400;
						  font-size: 14pt; }
a						{ text-decoration: none; 
						  color: #0575BD; }
body > section > nav a				{ color: rgba(5, 117, 189, 0.5); }
body > section > nav a:hover			{ color: rgba(5, 117, 189, 0.9); }
body > section > article > header,
body > section > article > section,
body > section > header,
body > section > nav				{ width: 66rem;
						  max-width: 96%;
						  margin: 0 auto; }

body > section > nav				{ padding-top: 1em; 
						  color: rgba(0, 0, 0, 0.7);
						  padding-bottom: 2em; }
body > section > header				{ padding-top: 1.5em;
						  padding-bottom: 1.5em;
						  color: #222;
						  display: flex;
						  display: -webkit-flex;
						  align-items: flex-end;
						  -webkit-align-items: flex-end; }
body > section > header nav 			{ font-size: 80%; }
body > section > header nav a			{ color: #000; }
body > section > header nav a span		{ border-bottom: thin transparent; }
body > section > header nav a:hover		{ color: #000;  }
body > section > header nav a:hover span	{ border-bottom: thin solid #0575BD; }
body > section > header nav a + a		{ border-left: thin solid #888; 
						  padding-left: 4pt; 
						  margin-left: 4pt; }
body > section > header img			{ height: 22pt; 
						  margin-bottom: 1pt; }
body > section > header h1 a			{ color: inherit; 
						  text-shadow: 1px 1px 1px transparent; }
body > section > header h1 a:hover		{ text-shadow: 0px 1px 1px #aaa; }
body > section > header h1			{ font-size: 200%;
						  font-weight: 500;
						  flex: 1;
						  line-height: 22pt;
						  margin: 0;
						  -webkit-flex: 1;
						  margin: 0 8pt;  }
h3						{ font-weight: 500; 
						  font-variant: small-caps;
						  margin: 2em auto;
						  text-align: center;
						  font-size: 130%; }
footer						{ text-align: center;
						  padding-top: 1em;
						  padding-bottom: 1em;
						  font-size: 80%;
						  color: #678; }
footer .fa					{ font-size: 75%; }
footer a					{ color: #89a; }
footer a:hover					{ color: #456; }

.literal					{ color: darkred; }					
h2						{ font-weight: 400;
						  text-align: center;
						  color: #888;
						  font-size: 250%; }
h2 span						{ color: #333; }
.tldr						{ font-size: 120%; }
strong, b					{ font-weight: 500; }
pre.prettyprint					{ border: none; 
						  overflow: hidden; }
pre, code					{ font-family: monospace;
						  font-size: 75%; }
figure 						{ text-align: center; 
					  	  margin: 0; }
figure img					{ max-width: 98%; }

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
h2						{ font-size: 175%; }
body > section > header h1			{ margin: 0 4pt; }
body > section > nav				{ text-align: center; }
.tldr						{ font-size: 110%; }
}
